{% extends 'base.html.twig' %}

{% block title %}HTMLImageElement{% endblock %}

{% block body %}
    <h1>HTMLImageElement</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ html_image_element.id }}</td>
        </tr>
        <tr>
            <th>AccessKey</th>
            <td>{{ html_image_element.accessKey }}</td>
        </tr>
        <tr>
            <th>AutoCapitalize</th>
            <td>{{ html_image_element.autoCapitalize }}</td>
        </tr>
        <tr>
            <th>Class</th>
            <td>{{ html_image_element.class }}</td>
        </tr>
        <tr>
            <th>ContentEditable</th>
            <td>{{ html_image_element.contentEditable ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <th>Dir</th>
            <td>{{ html_image_element.dir }}</td>
        </tr>
        <tr>
            <th>Draggable</th>
            <td>{{ html_image_element.draggable ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <th>Dropzone</th>
            <td>{{ html_image_element.dropzone }}</td>
        </tr>
        <tr>
            <th>Hidden</th>
            <td>{{ html_image_element.hidden ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <th>Data</th>
            <td>{{ html_image_element.data ? html_image_element.data|join(', ') : '' }}</td>
        </tr>
        <tr>
            <th>Uid</th>
            <td>{{ html_image_element.uid }}</td>
        </tr>
        <tr>
            <th>ItemId</th>
            <td>{{ html_image_element.itemId }}</td>
        </tr>
        <tr>
            <th>ItemProp</th>
            <td>{{ html_image_element.itemProp }}</td>
        </tr>
        <tr>
            <th>ItemRef</th>
            <td>{{ html_image_element.itemRef }}</td>
        </tr>
        <tr>
            <th>ItemScope</th>
            <td>{{ html_image_element.itemScope }}</td>
        </tr>
        <tr>
            <th>ItemType</th>
            <td>{{ html_image_element.itemType }}</td>
        </tr>
        <tr>
            <th>Lang</th>
            <td>{{ html_image_element.lang }}</td>
        </tr>
        <tr>
            <th>Style</th>
            <td>{{ html_image_element.style }}</td>
        </tr>
        <tr>
            <th>TabIndex</th>
            <td>{{ html_image_element.tabIndex }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ html_image_element.title }}</td>
        </tr>
        <tr>
            <th>Alt</th>
            <td>{{ html_image_element.alt }}</td>
        </tr>
        <tr>
            <th>CrossOrigin</th>
            <td>{{ html_image_element.crossOrigin }}</td>
        </tr>
        <tr>
            <th>Decoding</th>
            <td>{{ html_image_element.decoding }}</td>
        </tr>
        <tr>
            <th>Height</th>
            <td>{{ html_image_element.height }}</td>
        </tr>
        <tr>
            <th>Width</th>
            <td>{{ html_image_element.width }}</td>
        </tr>
        <tr>
            <th>Loading</th>
            <td>{{ html_image_element.loading }}</td>
        </tr>
        <tr>
            <th>Source</th>
            <td>{{ html_image_element.src }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('html_image_element') }}">back to list</a>

    <a href="{{ path('html_image_element_edit', {'id': html_image_element.id}) }}">edit</a>

    {{ include('html_image_element/_delete_form.html.twig') }}
{% endblock %}
